<h1>新規投稿画面です</h1>
<%= form_tag '/articles' do %>
  タイトル：<input type="text" name="title">
  本文：<textarea name="body"></textarea>
  著者：<input type="text" name="author">
  <input type="submit">
<% end %>
<%= link_to "一覧へ", articles_path %>
